<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringSecurity</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="/favicon.svg" rel="icon" type="image/svg+xml">
</head>
<body>
<h1 th:utext="'Hi ' + ${name} + '!'"/>
<h2>This is the private page - so hopefully you are logged in 😉</h2>
<button onclick="location.href='public'">Go public</button>
<button onclick="location.href='logout'">Logout</button>
</body>
</html>